<!DOCTYPE HTML>
<html>
<head>
    <title>Login | Zenicor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/login.js"></script>
</head>
<body>

    <h1>Login</h1>

    <form method="post" action="/login">
        <input name="user" type="text" placeholder="Username" value="kokos" />
        <input name="pass" type="password" placeholder="Password" value="test" />
        <button type="submit">OK</button>
    </form>

</body>
</html>
